out/
template-tcc.aux
template-tcc.bbl
template-tcc.blg
template-tcc.brf
template-tcc.lof
template-tcc.log
template-tcc.lol
template-tcc.lot
template-tcc.nlo
template-tcc.out
template-tcc.pdf
template-tcc.synctex.gz
template-tcc.toc
texput.log

# MacOS
.DS_Store